:root {
  --accent-color: #60d6ff;
  --shade-color: #101820;
  --shade2-color: #1d293a;
  --md-border-radius: 8px;
  --lg-border-radius: 80px;
}
/*
/////////////////////////////[App container]
*/

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: var(--shade2-color);
}

.main-container {
  width: 100%;
  margin-top: 4.2rem;
  display: grid;
  grid-template-columns: 30fr 70fr;
  column-gap: 2.4rem;
}

/*
/////////////////////////////[Top Anime Container]
*/

.top-and-upcoming-anime-container {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.top-anime-container-title {
  text-align: center;
  font-weight: 700;
  border-radius: var(--lg-border-radius);
  font-size: 2rem;
}

.anime-container-title {
  text-align: center;
  font-weight: 700;
  background-color: var(--accent-color);
  padding: 1rem;
  color: #101820;
  border-radius: var(--lg-border-radius);
  font-size: 2rem;
}

/*
/////////////////////////////[Each Anime Box]
*/
.anime {
  color: white;
  aspect-ratio: 1/1;
  display: flex;
  transform: scale(1);
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.anime:hover {
  transform: scale(1.05);
}

.anime img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: var(--md-border-radius);
}

.anime span {
  border-radius: var(--md-border-radius);
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  display: grid;
  place-content: center;
  font-size: 1.6rem;
  background-color: #1c1c1c80;
  width: 100%;
  padding: 1rem;
  height: 15%;
  transition: all 0.3s ease-in-out;
  line-height: 1.5;
}

.anime:hover span {
  height: 20%;
}

/*
/////////////////////////////[Swiper]
*/
.swiper {
  width: 100%;
  border-radius: 8px;
}

.swiper-slide {
  background-position: center;
}

.swiper-slide img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
.swiper-pagination {
  bottom: 10px; /* Atur posisi dots */
}

.swiper-pagination .swiper-pagination-bullet {
  width: 8px; /* Atur lebar dots */
  border: 7px solid #60d6ff;
  height: 8px; /* Atur tinggi dots */
  margin: 0 5px; /* Atur jarak antara dots */
  border-radius: 50%; /* Membuat dots menjadi bulat */
  background-color: #555; /* Warna default dots */
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #60d6ff; /* Warna untuk dots aktif */
}
